# node_modules
/node_modules
/.pnpm-store

# Next.js build output
/.next/
/out/

# Environment files (NEVER commit secrets!)
.env
.env*.local
.env.development
.env.test
.env.production

# Logs & Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Vercel & IDE
.vercel
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
